<!--pull player id off param-->
<div id="boardDiv">
  <div class="row">
    <div class="col-md-2 card board_cards">
      <img src="#" alt="" />
    </div>
  </div>
</div>
<div id="playerDiv">
  <div id='titleDiv'>
    <h1>PLAYER NAME</h1>
    <h3>Victory Points:</h3>
  </div>
  <div class="row">
    <div class="col-md-10 row" id="handDiv">
      <div class="col-md-2 card hand_cards">
        <img src="#" alt="" />
      </div>
    </div>
    <div class="col-md-2" id='statsDiv'>
      <h4>Money:</h4> <!-- define a .money method for player -->
      <h4 id='actText'>Actions:</h4>
      <h4 id='buyText'>Buys:</h4>
      <button type="button" id='endAct' name="button" class="btn btn-danger">End Action Phase</button>
      <!--hidden input with next player-->      
      <button type="button" id='endTurn' name="button" class="btn btn-danger">End Turn</button>
    </div>
  </div>
</div>
