<div id="boardDiv">
  <div class="row">
    <div class="col-md-2 card board_cards">
      <img src="#" alt="" />
    </div>
  </div>
</div>
<div id="playerDiv">
  <div id='titleDiv'>
    <h1>PLAYER NAME</h1>
    <h3>Victory Points:</h3>
  </div>
  <div class="row">
    <div class="col-md-10 row" id="handDiv">
      <div class="col-md-2 card hand_cards">
        <img src="#" alt="" />
      </div>
    </div>
    <div class="col-md-2" id='statsDiv'>
      <h4>Money:</h4>
      <h4>actions:</h4>
      <h4>buys:</h4>
      <button type="button" name="button" class="btn btn-danger">End Action Phase</button>
      <button type="button" name="button" class="btn btn-danger">End Turn</button>
    </div>
  </div>
</div>
