<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/styles.css">
    <script src='js/jquery-3.2.1.js'></script>
    <script src='js/scripts.js'></script>
    <title>Dominion</title>
  </head>

  <body>
    <img id='title' src="/img/logo2.jpg">
    <%= yield %>
  </body>
</html>
