#title {
  margin: auto;
  display: block;
}

body{
  padding-top: 40px;
}

#boardDiv {
  margin: auto;
  background-color: grey;
  height: 800px;
  padding: 20px;
}
.cardDiv{
  padding: 5px;
  text-align: center;
}
.card{
  height: 250px;
  margin: auto;
}

#playerDiv {
  margin: auto;
  background-color: lightpink;
  height: 300px;
  padding: 0px;
}
#titleDiv{
  height: 20%;
  margin: 0px;
  padding-left: 20px;
}
#titleDiv h1,h3{
  display: inline-block;
}
#titleDiv h3{
  margin-left: 30%;
}
#playerDiv > .row{
  height: 80%;
  background: lightblue;
}
#handDiv{
  background: green;
  height: 100%;
  padding: 20px;
}

#statsDiv button{
  margin-top: 40%;
}

#endTurn{
  display: none;
}
