#title {
  margin: auto;
  display: block;
  box-shadow: 10px 10px 5px #493019;
}

body{
  background-image: url('../img/texture.jpg');
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  padding-top: 40px;
  overflow-x: hidden;
}

#boardDiv {
  margin: auto;
  background-color: none;
  height: 800px;
  padding: 20px;
}
.cardDiv{
  padding: 5px;
  text-align: center;
  height: 300px;
}
.cardDiv img:hover {
  position:absolute;
  top:-50px;
  left:-20px;
  width:225px;
  height:auto;
  display:block;
  z-index:999;
}
.cardDiv img {
  box-shadow: 5px 5px 2px #493019;
  border-radius: 5px;
}
#backImg {
  margin-top: 20px;
}
.card{
  height: 250px;
  margin: auto;
}

#playerDiv {
  color: white;
  margin: 0;
  background-image: url('../img/wood_texture.jpg');
  min-height: 600px;
  max-height: 1200px;
  padding: 0px;
}
#titleDiv{
  height: 20%;
  margin: 0px;
  padding-left: 20px;
}
#titleDiv h1,h3{
  display: inline-block;
  position: relative;
}
#victoryText{
  left: 10%;
}
#phaseText{
  left: 58%;
}

#card_amount {
  color: black;
  font-size: 20px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin-top: 10px;
  border-radius: 20px;
  background: rgba(255,255,255,0.55);
}

#playerDiv > .row{
  height: 80%;

}
#handDiv{
  height: 100%;
  padding: 20px;
}

#statsDiv{
  padding-left: 4%;
}
#statsDiv button{
  margin-top: 30%;
}

#endTurn{
  display: none;
}

@keyframes example {
  0% {left:100px; top:100px;}
  25% {left:100px; top:100px;}
}

#handCard0 {
  position: absolute;
    top: 0%;
    left: 10%;
    width: auto;
    height: 110px;
    margin-top: 20px;
    margin-left: 0px;
    -webkit-animation-name: example;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: -1s;
    animation-name: example;
    animation-duration: 3s;
}
#handCard1 {
  position: absolute;
    top: 0%;
    left: 23%;
    width: auto;
    height: 110px;
    margin-top: 20px;
    margin-left: 30px;
    -webkit-animation-name: example;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: -1s;
    animation-name: example;
    animation-duration: 3s;
}
#handCard2 {
  position: absolute;
    top: 0%;
    left: 36%;
    width: auto;
    height: 110px;
    margin-top: 20px;
    margin-left: 60px;
    -webkit-animation-name: example;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: -1s;
    animation-name: example;
    animation-duration: 3s;
}
#handCard3 {
  position: absolute;
    top: 0%;
    left: 49%;
    width: auto;
    height: 110px;
    margin-top: 20px;
    margin-left: 90px;
    -webkit-animation-name: example;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: -1s;
    animation-name: example;
    animation-duration: 3s;
}
#handCard4 {
  position: absolute;
    top: 0%;
    left: 62%;
    width: auto;
    height: 110px;
    margin-top: 20px;
    margin-left: 120px;
    -webkit-animation-name: example;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: -1s;
    animation-name: example;
    animation-duration: 3s;
}

#statsDiv {
  float:right;
}

#dialog {
  background-image: url('../img/marble.jpg');
  border: 2px solid grey;
  border-radius: 25px;
  color: black;
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#dialog h2 {
  padding-top: 15px;
}
#dialog img {
  border-radius: 10px;
}
