#title {
  text-align: center;
  font-size: 50px;
}

body{
  padding-top: 40px;
}

#boardDiv {
  margin: auto;
  background-color: grey;
  height: 800px;
  padding: 20px;
}
.cardDiv{
  height: 200px;
  padding: 10px;
}
.card{
  margin: auto;
  background: red;
  height: 175px;
}

#playerDiv {
  margin: auto;
  background-color: lightpink;
  height: 300px;
  padding: 0px;
}
#titleDiv{
  height: 20%;
  margin: 0px;
}
#titleDiv h1,h3{
  display: inline-block;
}
#playerDiv > .row{
  height: 80%;
  background: lightblue;
}
#handDiv{
  background: green;
  height: 100%;
  padding: 20px;
}

#statsDiv button{
  margin-top: 40%;
}
